body {
  background-color: #60a9ff;
}
html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.main {
  background-color: white;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  padding: 15px 25px;
  max-width: 900px;
  width: 100%;
  margin: auto;
}
.table {
  table-layout: fixed;
  background-color: white;
  display: flex;
  justify-content: center;
  margin: auto;
  border-radius: 12px;
  padding: 15px 25px;
  max-width: 900px;
  width: 100%;
}
.form {
  padding: 10px;
  border: 1px solid #4072ac;
}
.incomeList,
.spendList {
  border: 1px solid #4072ac;
  padding: 150px;
  text-align: start;
}
.incomeSum,
.outcomeSum {
  border: 1px solid #4072ac;
  padding: 25px;
}
.logo {
  justify-content: center;
  display: flex;
}
.show {
  display: flex;
}

.hide {
  display: none;
}
